<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <img
        src="assets/imgs/Sidian-logo2.png"
        alt="Logo"
        height="153"
        width="233"
      />
    </ion-toolbar>
  </ion-header>

  <div class="page-content">
    <h2>Review in Progress</h2>
    <p>
      Thank you for providing your details. We are currently reviewing the data
      you have submitted. This process ensures the security and accuracy of your
      account. We shall notify you once the review is complete and guide you on
      the next steps
    </p>
    <p>
      <span>Need help?</span>
      <b>Call us at (+254) 711-058000</b>
    </p>
  </div>

  <ion-item lines="none">
    <div class="p-btn">
      <ion-button expand="block" mode="md" [routerLink]="['/home']"
        >Back to Main Menu<span
          ><ion-icon
            name="chevron-forward"
            class="custom-icon"
          ></ion-icon></span
      ></ion-button>
    </div>
  </ion-item>
</ion-content>
